.App {
  text-align: center;
}
ul{
  list-style: none;
  padding: none;
  width: 30%;
  margin: auto;
}
.header{
  text-align: center;
}
.userNameInput{
  width: 400px;
  margin:  20px auto;
}
.expencesForm{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.expencesForm input, .expencesForm select, .expencesForm button{
  width: 100%;
  margin-top: 20px;
}
.expense{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
button{
  border-radius: 10px;
  border: none;
  padding: 10px;
}